<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Twitter Clone</title>
</head>
<body>
    <header class="sidebar">
        <h2>メニュー</h2>
        <%= link_to "Home", "index"%>
        <%= link_to 'Explore', "explore" %>
        <%= link_to 'Notifications', "notifications" %>
        <%= link_to 'Messages', "messages" %>
        <%= link_to 'Profile', "profile" %>
        <%= link_to 'Post', "post" %>

        <% if @user.nil? %>
            <%= link_to "Login", new_sessions_path, method: :get %>
        <% else %>
            <%= button_to "Logout", destroy_sessions_path, method: :delete %>
            Login User:<%= @user.name %>
        <% end %>

    </header>
    <main class="content">
        <div>
            <h1>Home</h1>
        </div>      
        <div>
            <!-- Post content would go here -->
        </div>
    </main>
    <footer class="search">
        <div class="header">              
            <p><%= text_field_tag :search, nil, placeholder: "Search..." %></p>
            <%= button_tag 'Search', type: 'submit' %>
        </div>
    </footer>
</body>
</html>
