<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Twitter Clone</title>
</head>
<body>
    <header class="sidebar">
        <%= link_to image_tag("/assets/starlin _logo.png", class: "home_logo"), "index" %>
        
        <%= link_to "index" do%>
            <img src="/assets/home/home.png"><p>Home</p>
        <% end %>
        <%= link_to "explore" do %>
            <img src="/assets/home/explore.png"><p>Explore</p>
        <% end %>
        <%= link_to "notifications" do %>
            <img src="/assets/home/notifications.png"><p>Notifications</p>
        <% end %>
        <%= link_to "messages" do %>
            <img src="/assets/home/message.png"><p>Messages</p>
        <% end %>
        <%= link_to "profile" do %>
            <img src="/assets/home/pofile.png"><p>Profile</p>
        <% end %>
        
        <a href="#" class="postbtn" id="openModalpostBtn" >Post</a>

        <% if @user.nil? %>
            <%= link_to "Login", new_sessions_path, method: :get %>
        <% else %>
            <%# ログインユーザー名表示 %>
            <div class="accountbar">
                <a href="#" id="openModalbarBtn">
                    <img src="/assets/home/icon.jpg">
                    <p class="namead"><%= @user.name %></p>
                    <img src="/assets/home/tententen.png" class="tententen">
                </a>
            </div>
            <%# ログアウトボタン %>
            <div class="bar" id="barModal">
                <div class="modal-content4">
                    <%= button_to "Logout", destroy_sessions_path,  method: :delete, class: "logout" %>
                </div>
            </div>
        <% end %>
    </header>

    <main class="prof_content">
        <!-- プロフィール設定 -->
        <div class="profile_edit" id="EditModel">
            <div class="modal-content5">
                <span class="close4">&times;</span>
                <div>
                    <h1>Edit profile</h1>
                    <%= button_tag("Save", type:"submit") %>
                </div>
                <%= image_tag("/assets/home/hedder.jpg", alt: "editHeader") %>
                <div>
                    <%= image_tag("/assets/home/exit.png", alt: "exit") %>
                    <%= image_tag("/assets/home/edita_camera.png", alt: "editCamera") %>
                </div>
                <%= image_tag("/assets/home/icon.jpg", alt: "profileEdit") %>
                <%= image_tag("/assets/home/edita_camera.png", alt: "editCamera") %>
                <div>
                    <p>name</p>
                    <p>name</p>
                </div>
                <div>
                    <p>Bio</p>
                    <p>コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
                </div>
                <div>
                    <p>Location</p>
                    <p>Jr2353.new</p>
                </div>
                <div>
                    <p>生年月日</p>
                    <a href="#"></a>
                    <h1>1999/11/18</h1>
                </div>
            </div>
        </div>
        <%# プロフ表示 %>
        <div class="profile_header">
            <%= link_to image_tag("/assets/home/buck.png", alt: "戻る"),  'javascript:history.back()' %>
            <div>
            <% tweet = @tweets.find { |tweet| @user.s_number == tweet.user_number } %>
            <% if tweet %>
            <h1><%= tweet.user_name %></h1>
            <% end %>
                <div>
                    <p><%= @tweet_count %></p><p>posts</p>
                </div>
            </div>
        </div>
        <div class="profile_body">
            <div>
                <div>
                    <%= image_tag("/assets/home/hedder.jpg", alt: "ProfileHeader") %>
                </div>
                <div>
                    <%= image_tag("/assets/home/icon.jpg", alt: "ProfileImg") %>
                </div>
            </div>
            <a href="#" class="editBtn" id="openModalEditBtn" >Edit profile</a>
        </div>
        <% if tweet %>
            <h2 class="profile_name"><%= tweet.user_name %></h2>
            <p class="profile_status">@<%= tweet.user_number %></p>
        <% end %>
            <p class="profile_comment">コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
            <p class="profile_status"><%= @user.created_at.strftime('%Y年%-m月から坪ターを利用しています') %></p>
            <div class="follo">
                <p>0</p><p>Following</p>
                <p>0</p><p>Followers</p>
            </div>
            <%# 投稿表示 %>
        <div class="tab">
            <label>
                <input type="radio" name="tab" checked>
                post
            </label>
            <div class="tweet_area">
                <% @tweets.each do |tweet| %>
                    <% if @user.s_number == tweet.user_number %>
                        <div class="tweet">
                            <img src="/assets/home/icon.jpg" class="icon">
                            <h3><%= tweet.user_name %></h3>
                            <p class="tweet_id">@<%= tweet.user_number %></p>
                            <p class="tweet_time"><%= "#{time_ago_in_words(tweet.created_at)}前" %></p>
                            <%# 削除ボタン %>
                            <%= button_to tweet_destroy_path(tweet.id), method: :delete, class: "destroy_btn" do %>
                                <%= image_tag("/assets/home/delete.png", alt: "削除") %>
                            <% end %>
                        </div>
                        <%# 投稿表示 %>
                        <p class="tweet_content"><%= tweet.content %></p>
                        <%# 返信やいいねなど %>
                        <div class="good">
                            <%= button_to "" do %>
                                <%= image_tag("/assets/home/post.png", alt: "返信") %>
                            <% end %>
                        <% if tweet.like == nil %>
                            <p></p>
                        <% elsif tweet.like <= 1 %>
                            <p>0</p>
                        <% end %>
                            <%= button_to "" do %>
                                <%= image_tag("/assets/home/RT.png", alt: "RT") %>
                            <% end %>
                        <% if tweet.like == nil %>
                            <p></p>
                        <% elsif tweet.like <= 1 %>
                            <p>0</p>
                        <% end %>
                            <%= button_to "" do %>
                                <%= image_tag("/assets/home/good.png", alt: "いいね") %>
                            <% end %>
                        <% if tweet.like == nil %>
                            <p></p>
                        <% elsif tweet.like <= 1 %>
                            <p>0</p>
                        <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <label>
                <input type="radio" name="tab">
                media
            </label>
            <div>メディア</div>

            <label>
                <input type="radio" name="tab">
                good
            </label>
            <div>いいね</div>
        </div>
        <%#ツイート（投稿）機能 %>
        <div class="post" id="postModal">
            <div class="modal-content3">
                <span class="close3">&times;</span>
                <img src="/assets/home/icon.jpg">
                <%= form_for(@tweet, url: "/home") do |f| %>
                    <%= f.hidden_field :user_name, value: @user.name %>
                    <%= f.hidden_field :user_number, value: @user.s_number %>
                    <%# ツイートの書き込み %>
                    <%= f.text_area :content, rows: 7, placeholder: "What's happening?!", class: "message_content" %>
                    <%= f.hidden_field :comment, value: nil %>
                    <%= f.hidden_field :diffusion, value: nil %>
                    <%= f.hidden_field :like, value: nil %>
                    <%= f.submit "Post", class: "btn" %>
                <% end %>
            </div>
        </div>
    </main>

    <footer class="search">
        <div class="header">
            <p><%= text_field_tag :search, nil, placeholder: "Search..." %></p>
            <%= button_tag 'Search', type: 'submit', class: "searchbtn" %>
        </div>
    </footer>

    <script>
        /*ログアウトボタン*/
        const bar = document.getElementById('barModal');
        const openModalbarBtn = document.getElementById('openModalbarBtn');

        openModalbarBtn.onclick = function() {
            // モーダルが表示されているかどうかを切り替える
            if (bar.style.display === 'block') {
                bar.style.display = 'none'; // モーダルを非表示
            } else {
                bar.style.display = 'block'; // モーダルを表示
            }
        }

        /*プロフィール設定*/
        const edit = document.getElementById('EditModel');
        const openModalEditBtn = document.getElementById('openModalEditBtn');
        const editClose = document.getElementsByClassName('close4')[0];

        openModalEditBtn.onclick = function() {
            edit.style.display = 'block';
        }

        editClose.onclick = function() {
            edit.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == edit) {
                edit.style.display = 'none';
            }
        }

        /*ポスト*/
        const tweet = document.getElementById('postModal');
        const openModalpostBtn = document.getElementById('openModalpostBtn');
        const closeBtn3 = document.getElementsByClassName('close3')[0];
        /* スクロールの禁止 */
        const body = document.getElementsByTagName('body')[0]; // body要素を取得

        openModalpostBtn.onclick = function() {
            tweet.style.display = 'block';
            body.classList.add('no_scroll'); // スクロール禁止
        }

        closeBtn3.onclick = function() {
            tweet.style.display = 'none';
            body.classList.remove('no_scroll'); // スクロール許可
        }

        window.onclick = function(event) {
            if (event.target == tweet) {
                tweet.style.display = 'none';
                body.classList.remove('no_scroll'); // スクロール許可
            }
        }
    </script>
</body>
</html>